/* CSS Reset */

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Set font sizes to a consistent baseline */
html {
  font-size: 16px;
}

/* Set line height for better readability */
body {
  line-height: 1.5;
}

/* Remove list styles and markers */
ul,
ol {
  list-style: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
}

/* Set box-sizing to border-box for easier sizing calculations */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

// reset ends

//header styles

body {
  color: white;
  font-family: Lato, sans-serif;
}
.logo {
  margin: 10px 0 0 10px;
}
header {
  display: flex;
  justify-content: space-between;
}

.cart {
  margin: 20px 10px 0 0;
}
.navbar {
  width: 600px;
  display: flex;
}
.menu ul:first-child {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin-right: 30px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.fa-user {
  color: #368bff;
}
#app {
  background-image: url(/images/banner-sf.jpg);
  background-color: black;
  background-size: cover;
  height: 760px;
}
main {
  color: white;
  display: flex;
  justify-content: space-around;
}
.bg-black {
  background-color: #333a3d;
  padding: 5px;
  border-radius: 5px;
}
.bg-discount {
  background-color: #ff5400;
  padding: 5px;
  border-radius: 5px;
}
main div:first-child {
  margin: 100px 250px 0 0;
}
main div:last-child {
  margin: 300px 250px 0 0;
}
//footer
.view {
  color: white;
  background-color: #272727;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}
footer {
  background-color: #272727;
  opacity: 0.9;
}
.footer-title {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px 10px 150px;
  color: white;
}
.footer-details {
  display: flex;
  justify-content: center;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer1 {
  position: relative;
  margin-right: 30px;
}
.footer1 img {
  border-radius: 20px;
}
.discount {
  position: absolute;
  left: 0;
  bottom: 31px;
  padding: 2px;
  border-radius: 5px;
  background-color: #ff5400;
}

// mega menu
.mega-menu {
  .menu-list {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #091219, #35414a);
    border-radius: 50px;
    list-style: none;
    padding: 5px;
    margin: 0;

    .menu-item {
      position: relative;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: white;
      }
      .platforms,
      .prepaid-cards {
        display: flex;
        justify-content: space-between;
        background-color: grey;
        margin: 15px;
        padding: 10px;
        border-radius: 10px;
      }
      .platforms-details,
      .prepaid-cards-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
        gap: 15px;
      }
      .prepaid-cards-items {
        display: grid;
        justify-items: center;
      }
      .prepaid-cards-items img {
        margin-bottom: 10px;
      }
      .platforms-item {
        display: flex;
        align-items: center;
      }
      .platforms-item:hover {
        background-color: #677676;
        opacity: 0.8;
        border-radius: 25px;
      }
      .platforms-item img {
        margin-right: 12px;
      }
      .submenu {
        display: none;
        position: absolute;
        top: 300%;
        left: -150%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        min-width: 770px;
        border-radius: 5px;
        background-image: linear-gradient(to right, #2c3c42, #847764);
      }
    }
  }
}
.search {
  background-color: #fe7107;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: -3px;
}

/* Styles for search icon */
.search-icon {
  cursor: pointer;
}

/* Initially hide the input field */
.search-input {
  display: none;
  width: 550px;
  height: 80px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #fe6b0b, #fd4b1a);
}
::placeholder {
  color: #fefbf9;
  padding: 30px;
  font-weight: 700;
}
