/* CSS Reset */

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Set font sizes to a consistent baseline */
html {
  font-size: 16px;
}

/* Set line height for better readability */
body {
  line-height: 1.5;
}

/* Remove list styles and markers */
ul,
ol {
  list-style: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
}

/* Set box-sizing to border-box for easier sizing calculations */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

// reset ends

//header styles
body {
  color: white;
  font-family: Lato, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin-right: 30px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.fa-user {
  color: #368bff;
}
#app {
  // background-image: url(/images/banner-sf.jpg);
  background-color: black;
  background-size: cover;
  height: 760px;
  // display: flex;
  // justify-content: space-evenly;
}
main {
  color: white;
  display: flex;
  justify-content: space-around;
}

//footer
footer {
  background-color: #272727;
  opacity: 0.9;
}
.footer-title {
  display: flex;
  justify-content: space-around;
  color: white;
}
.footer-details {
  display: flex;
  justify-content: center;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer1 {
  position: relative;
  margin-right: 30px;
}
.discount {
  position: absolute;
  left: 0;
  bottom: 31px;
  background-color: orange;
}

// mega menu
.mega-menu {
  .menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
      position: relative;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #333;
      }
      .platforms,
      .prepaid-cards {
        display: flex;
        justify-content: space-between;
        background-color: grey;
        margin: 15px;
      }
      .platforms-details,
      .prepaid-cards-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
      }
      .prepaid-cards-items {
        display: grid;
        justify-content: center;
      }
      .prepaid-cards-items img {
      }
      .platforms-item {
        display: flex;
        align-items: center;
      }
      .platforms-item img {
        margin-right: 12px;
      }
      .submenu {
        // display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: skyblue;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        min-width: 770px;
        border-radius: 5px;
      }

      &:hover {
        .submenu {
          display: block;
        }
      }
    }
  }
}
